<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/base.css">
  <link rel="stylesheet" href="/public/css/login.css">
  <title><%= title %></title>
</head>
<body>

  <div class="container">

    <h1><%= title %></h1>
<div class="heroContent">
  
      <img src="/public/media/loginImage.svg" alt="loginImage">
  
      <form id="login-form" action="/api/admin/login" method="post">
  
        <div class="input areaInput">
          <label for="email">Email</label>
          <input type="text" name="email" placeholder="zerotwo" id="email">
        </div>
  
       <div class="password areaInput">
         <label for="password">Password</label>
         <input type="password" name="password" placeholder="password" id="password">
       </div>
  
        <div class="buttonContainer">
          <input class="button" type="submit" value="Login">
        </div>
  
      </form>
</div>

  </div>


  <script>
    document.getElementById('login-form').onsubmit = e => {
      e.preventDefault();
      fetch('/api/admin/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          email: e.target.email.value,
          password: e.target.password.value
        })
      })
      .then(res => res.json())
      .then(data => {
        if (data?.token) {
          localStorage.setItem('token', data.token);
          console.log(data);
          window.location.href = '/admin/dashboard';
        } else {
          alert('Invalid email or password');
        }
      }).catch(err => {
        console.log(err);
      });
    };
  </script>

  <%- include('../common/footer') -%>
</body>
</html>