<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/base.css">
  <link rel="stylesheet" href="/public/css/donor/profile.css">
  <title><%= title %></title>
</head>
<body>
  <%- include("../common/nav") -%>
  <div class="container">

    <div id="profile">
    </div>

    <script>
      if (localStorage.getItem('token') == null) {
        location.href = '/donor/login';
      } else {
        fetch('/api/donor/', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'token': localStorage?.token
          }
        }).then(res => res.json())
          .then(data => {
            console.log(data.user);
            document.getElementById('profile').innerHTML = `
            <div class="profileMain"> 
           <h1> ${data.user.name}</h1>
            <p> ${data.user.email}</p>
          </div>
          <div class="profileBody">
            <img src="/public/media/doggie.svg" alt="donorProfile">
            
          <div class="profileSummary">
            <p><span class="contentText">Weight:</span> ${data.user.weight} Kg</p>
            <p><span class="contentText">Age:</span> ${data.user.age} Years</p>
            <p><span class="contentText">Phone Number:</span> ${data.user.phone}</p>
            <p><span class="contentText">Address:</span> ${data.user.address}</p>
            <p><span class="contentText">Vistors:</span> ${data.user.visitors}</p>
            <p><span class="contentText">Blood Group:</span> ${data.user.bloodGroupSign} ${data.user.bloodGroupType}</p>
          </div>
        </div>
        <div class="buttoncontainer">
      <input class="button" type="submit" value="logout" id="logout">
      <button class="button" id="update">Edit Profile</button>
      </div>
            `;
          })
          .catch(err => {
            console.log(err);
            location.href = '/donor/login';
          });
      }

      document.getElementById('logout').addEventListener('click', () => {
        localStorage.removeItem('token');
        location.href = '/donor/login';
      });

      // document.getElementById('edit').addEventListener('click', () => {
      //   // show the modal
      //   document.getElementById('modal').style.display = 'block';
      // });
      
      // document.getElementById('update').addEventListener('click', () => {
      //   // close the modal and refresh the page to show content 
        
      // });

      // // close modal
      // const close = document.getElementsByClassName('close')[0];
      // close.addEventListener('click', () => {
      //   document.getElementById('modal').style.display = 'none';
      // });


    </script>
  </div>
  <%- include('../common/footer') -%>
</body>
</html>