<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/base.css">
  <link rel="stylesheet" href="/public/css/visitor/donor.css">
  <title><%= title %></title>
</head>
<body>
  <%- include("../common/nav") -%>
  <div class="container">

    <div id="profile">

    </div>

    <div class="buttoncontainer">
      <input class="button" type="submit" value="logout" id="logout">
    </div>
    
  </div>
  <script>
    if (localStorage.getItem('token') == null) {
      location.href = '/visitor/signin';
    } else {
      fetch('/api/visitor/<%= id %>', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
          'token': localStorage?.token
        }
      }).then(res => res.json())
        .then(data => {
          console.log(data.donor);
          document.getElementById('profile').innerHTML = `
            <div class="profileMain">
            <h1> ${data.donor.name}</h1>
             <p> ${data.donor.email}</p>
           </div>
           <div class="profileBody">
             <img src="/public/media/doggie.svg" alt="donorProfile">
             
           <div class="profileSummary">
             <p><span class="contentText">Weight:</span> ${data.donor.weight} Kg</p>
             <p><span class="contentText">Age:</span> ${data.donor.age} Years</p>
             <p><span class="contentText">Phone Number:</span> ${data.donor.phone}</p>
             <p><span class="contentText">Address:</span> ${data.donor.address}</p>
             <p><span class="contentText">Vistors:</span> ${data.donor.visitors}</p>
             <p><span class="contentText">Blood Group:</span> ${data.donor.bloodGroupSign} ${data.donor.bloodGroupType}</p>
           </div>
          `;
        })
        .catch(err => {
          console.log(err);
          // location.href = '/error?message=Account could not be found';
        });
    }

    document.getElementById('logout').addEventListener('click', () => {
        localStorage.removeItem('token');
        location.href = '/visitor/signin';
      });
  </script>

  <%- include('../common/footer') -%>
</body>
</html>