<!-- navigation bar for home, admin, donor, visitor -->

<nav class="navigationbar">
  <ul class="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/admin/login">Admin</a></li>
    <li><a href="/donor/login">Donor</a></li>
    <li><a href="/visitor/signin">Visitor</a></li>
  </ul>
</nav>
